*.o
*.sym
*.map
*.cmd
*.su
*.dtb
*.tmp
.config
*.lex.c
*.tab.*
*.bin
*.srec
.binman_stamp
.config.old
.mconf-cfg
*.configs
asm-offsets.s
lib.a
httpd-fsdata.c
generated
dt.dtb.S
u-boot.cfg
/uboot*/include/config
/uboot*/u-boot.lds
/uboot*/u-boot
.vscode
/mkgpt/*.bin
/mkgpt/*.img
/mkgpt/bin
/mkgpt/gpttable
__pycache__
output/*
