// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright SX-7981R128 Update By nanchuci
 */

/dts-v1/;
#include "mt7981.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "7981RXXX";
	compatible = "mediatek,mt7981-sfp-nand-7981rxxx";

	chosen {
		stdout-path = &uart0;
		tick-timer = &timer0;
	};

	config {
		bootcmd = "mtkboardboot";
		blink_led = "green:power";
		system_led = "green:power";
	};

	mtd-layout {
		layout@0 {
			label = "default";
			// mtd layout for 7981RXXX stock ubi or openwrt-stock/immortalwrt-stock firmware
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:1024k(bl2),512k(u-boot-env),2048k(factory),2048k(fip),65536k(ubi)";
		};

		layout@1 {
			label = "immortalwrt-114.5m";
			// mtd layout for immortalwrt/openwrt 114.5M ubi firmware
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:1024k(bl2),512k(u-boot-env),2048k(factory),2048k(fip),117248k(ubi)";
		};

		layout@2 {
			label = "qwrt";
			// mtd layout for lean qwrt
			mtdids = "nmbm0=nmbm0";
			mtdparts = "nmbm0:1024k(bl2),512k(u-boot-env),2048k(factory),2048k(fip),1024k(rsv0),110M(ubi)";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset-button {
			label = "reset";
			gpios = <&gpio 1 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "gpio-leds";

		SFP {
			label = "green:sfp";
			gpios = <&gpio 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		WIFI5G {
			label = "green:wifi5g";
			gpios = <&gpio 5 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		WIFI2G {
			label = "green:wifi2g";
			gpios = <&gpio 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		LAN {
			label = "green:lan";
			gpios = <&gpio 8 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		POWER {
			label = "green:power";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};
};

&uart0 {
	status = "okay";
};

&eth {
	status = "okay";
	mediatek,gmac-id = <0>;
	phy-mode = "sgmii";
	mediatek,switch = "mt7531";
	reset-gpios = <&gpio 39 GPIO_ACTIVE_HIGH>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&pinctrl {
	spi_flash_pins: spi0-pins-func-1 {
		mux {
			function = "flash";
			groups = "spi0", "spi0_wp_hold";
		};

		conf-pu {
			pins = "SPI0_CS", "SPI0_HOLD", "SPI0_WP";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_11>;
		};

		conf-pd {
			pins = "SPI0_CLK", "SPI0_MOSI", "SPI0_MISO";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_11>;
		};
	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi_flash_pins>;
	status = "okay";
	must_tx;
	enhance_timing;
	dma_ext;
	ipm_design;
	support_quad;
	tick_dly = <2>;
	sample_sel = <0>;

	spi_nand@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <52000000>;
	};
};

&watchdog {
	status = "disabled";
};
