menuconfig MTD_SPI_NAND
	bool "SPI NAND device Support"
	depends on DM_MTD && DM_SPI
	select MTD_NAND_CORE
	select SPI_MEM
	help
	  This is the framework for the SPI NAND device drivers.

config MTD_SPI_NAND_W25N01KV
	tristate "Winbond W25N01KV Support"
	select MTD_SPI_NAND
	default n
	help
	  Winbond W25N01KV share the same ID with W25N01GV. However, they have
	  different attributes.
